/* src/componentes/Rodape.css */
.footer-configurations {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-configurations__button {
  width: 350px;
  height: 80px;
  font-size: 20px;
  box-shadow: 2px 2px 0px 1px #000000;
  border-radius: 45px;
  background-color: #FE652B;
  color: #FFF;
  cursor: pointer;
}

.footer-configurations__button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.footer-configurations__button:hover {
  background-color: #4B69FD;
}

@media screen and (max-width: 800px) {
  .footer-configurations__button {
      width: 220px;
      margin: 32px 0;
  }
  .footer-configurations {
      flex-direction: column;
  }
  .footer-configurations img {
      margin-top: 32px;
  }
}